@model  EverythingFuneral.Web.Models.ViewModels.RequestService
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceMinister, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceMinister) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceProgrammeCard, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceProgrammeCard) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceInvitationCommunication, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceInvitationCommunication) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceFamilyTracing, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceFamilyTracing) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServicesCommunication, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServicesCommunication) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceGestureHospitality, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceGestureHospitality) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceSpecialQuests, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceSpecialQuests) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.OtherServiceMouners, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.OtherServiceMouners) } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralAssestSharing, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralAssestSharing) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralOtherbeneficiaryDistribution, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralOtherbeneficiaryDistribution) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralCounselingService, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralCounselingService) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralRecoveryProcess, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralRecoveryProcess) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralGiftManagement, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralGiftManagement) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralCleansing, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralCleansing) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralClosure, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralClosure) } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PostFuneralAfterTears, new { htmlAttributes = new { @class = "DisplayControlName form-control", @Placeholder = Html.DisplayNameFor(m => m.PostFuneralAfterTears) } })
        </div>
    </div>
</div>

